
.container {
    display: flex;
    min-height: 100vh;
    max-width: none;
}

.main-pane  {
    margin: 1em auto;
    display: flex;
}

.description-pane {
    width: 80%;
    margin: 1em auto;
}

h3 {
    font-size: 1.2rem
}

.plant-attr {
    text-align: center;
    margin: 1em 0;
}

.reports-pane {
    display: flex;
    flex-wrap: wrap;
}

.aqua-reports {
    width: 40%;
    margin: 2em;
}
