
.container {
    display: flex;
    border: 1px solid tomato;
}

.main-pane  {
    margin: 1em auto;
	width: 80%;
}

.info-right {
    width: 40%;
    margin: 0 auto;
}

h3 {
    font-size: 1.2rem
}

.plant-attr {
    text-align: center;
    margin: 1em 0;
}

