.management-tab {
  text-align: center;
}

.plants-table {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.add-plant-ops {
  margin: 1em;
  font-size: 0.8rem;
}

