.management-tab {
  text-align: center;
}

.aqua-item-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 0.8rem;
}

.aqua-item-add-btn {
  margin: 1em;
  font-size: 0.8rem;
}

.aqua-item-ops-btn {
  font-size: 0.6rem;
}