.main-map-container {
    display: flex;
    width: 100vw;
    height: 90vh;
    top: 0;
    position: relative;
}

.message-panel {
    position: absolute;
    right: 0;
    visibility: hidden;
    margin: 5px;
    width: 30%;
    height: 60vh;
    min-width: 320px;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    padding: 12px 24px;
    font-size: 1rem;
    color: #6b6b76;
    outline: none;
}

.message-panel.active {
    visibility: visible;
    transition: 800ms;
}

.message-panel-ctl {
    position: absolute;
    right: 0;
    margin: 10px;
    z-index: 1;
}

.message-panel ul {
    padding-left: 0;
}

.message-panel li {
    list-style: none;
    margin: 0.2em 0;
    padding: 0.2em;
}

.message-list {
    height: 80%;
    border: 1px solid grey;
    padding: 5px;
}