.nav-header {
    padding: 1em 0.5em;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar-brand {
    margin: 0 1em;
}

.left-drawer {
    background-color: #060b46;
    max-width: 250px;
    width: 30%;
    height: 100%;
    position: fixed;
    padding: 1em 0;
    left: -100%;
    transition: 850ms;
    z-index: 10;
}

.left-drawer.active {
    left: 0;
    transition: 350ms;
}

.left-drawer ul {
    display: flex;
    flex-direction: column;
}

.left-drawer .nav-link {
    color: #F5F5F5;
    text-decoration: none;
}

.left-drawer .nav-link:hover {
    color: #9595E5;
    background-color: rgb(0, 81, 255);
}
