.nav-header {
    padding: 1em 0.5em;
    position: sticky;
    top: 0;
    z-index: 20;
}

.navbar-brand {
    margin: 0 1em;
}

.left-drawer {
    background-color: #060b46;
    max-width: 250px;
    width: 50%;
    height: 100%;
    position: fixed;
    padding: 1em 0;
    left: -100%;
    transition: 850ms;
    z-index: 100;
}

.left-drawer.active {
    left: 0;
    transition: 350ms;
}

.left-drawer ul {
    display: flex;
    align-items: flex-start;
}

.left-drawer ul li {
    width: 100%;
    padding: 0 1.2em;
}

.left-drawer ul li a {
    color: #F5F5F5;
    text-decoration: none;
    text-align: start;
}

.left-drawer ul li a:hover {
    color: #9595E5;
    background-color: rgb(0, 81, 255);
}
