.pulsatingDot {
  background-color:limegreen;
  border-radius: 50%;
  box-sizing: border-box;
  height: 15px;
  width: 15px;
}

.pulsatingDot:before {
  animation: pulseRing 1.5s infinite;
  background-color: limegreen;
  border-radius: 50%;
  content: '';
  display: block;
  position: relative;
  height: 300%;
  left: -100%;
  top: -100%;
  width: 300%;
}

.pulsatingDot.warning {
  background-color: orange;
}

.pulsatingDot.warning:before {
  animation: pulseRing 1.5s infinite;
  background-color: orange;
  height: 500%;
  left: -200%;
  top: -200%;
  width: 500%;
}

.pulsatingDot.severe {
  background-color: red;
}

.pulsatingDot.severe:before {
  animation: pulseRing 2.5s infinite;
  background-color: red;
  height: 700%;
  left: -300%;
  top: -300%;
  width: 700%;
}

.pin {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  position: absolute;
  top: 0;
  left: 0;
}

.pin:hover {
  border: 1px solid grey;
  cursor: pointer;
}

@keyframes pulseRing {
  0% { transform: scale(.1); }
  80%, 100% { opacity: 0; }
}
